<title>Active Code Share | Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
        <img src="https://cdn.discordapp.com/icons/720975143366819932/4ac40aff951fafa5dfe237d0de6592b5.png?size=128" style="border-radius: 50%;">
      </div>
      <h1 class="text-light font-weight-light">Selam, Active Code Share Bilgilendirme</h1>
      <p class="lead"><a href="/davet" target="_blank">Active Code Share Discord Sunucusu</a> Kod Paylaşım Sistemine Hoş Geldin!</p>
    </div><br>
    <h3 class="text-light font-weight-light">Active Code Share Açıklama</h3>
    <hr>
    <ul>
      <li>
       Sunucumuzdaki Kodların Sıralaması:
        <ul>
          <li>Hazır Sistemler (Altyapılar) - (Discord Sunucumuz #rol-al Altyapılar Rolü)</li>
          <li>JavaScript Kodları - (Discord Sunucumuz #rol-al JavaScript Rolü)</li>
          <li>Aoi.js Kod*ları - (Discord Sunucumuz #rol-al Aoi.js Rolü)</li>
          <li>BDFD Kodları - (Discord Sunucumuz #rol-al BDFD Rolü)</li>
        </ul>
      </li>
      <li>Kodları Görebilmek İçin Yukarıdaki Rollerden İstediğinize Sahip Olmalısınız. Rollere erişebilmek için sunucumuzda abone rolü alıp yanlarında belirtilmiş şartları uygulamanız gerekiyor.</li>
      <li>Sunucuyu Boostlayanlar Tüm Kodları Görebilmektedirler.</li>
    </ul><br>
    <h3 class="text-light font-weight-light">Bilgilendirme</h3>
    <hr>
  
      <li class="text-light font-weight-light">Kodlarımız artık hem sunucudan hem de bu site üzerinden paylaşılmaktadır.</li>
      <li class="text-light font-weight-light">Sitemizde kendi kodlarınızı da paylaşabilirsiniz. (Trolleyenler kod paylaşamayacaktır)</li>
    <li class="text-light font-weight-light">Sitede sağ üst köşede bulunan <a href="/giris" style="text-decoration: none; color: #0073FF;">Giriş Yap</a> seçeneğine basıp giriş yapmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">Giriş yaptıktan sonra görme izniniz olan kodları görebileceksiniz.</li>
      <li class="text-light font-weight-light">Topluluk Kodları (Sizden Gelenler) herkes tarafından görebilir.</li>
      <li class="text-light font-weight-light">Geri kalan kodlara erişebilmek için, sunucuda o kod kategorisinin rolüne sahip olmalısınız.</li>
      <br>
      <li class="text-light font-weight-light">
        Kod rollerine sahip olmak için sunucumuzda abone rolü alıp #rol-al kanalından kod rolleri almanız gerekmektedir.
        <ul>
          <li class="text-light font-weight-light"><b>BDFD Kodları:</b> Sunucumuzda Abone SS Atıp Rol Al Kanalından BDFD Rolü Almanız Gerek.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Aoi.js Kodları:</b> Sunucumuzda Abone SS Atıp Rol Al Kanalından Aoi.js Rolü Almanız Gerek.</li>
          <li class="text-light font-weight-light"><b>JavaScript Kodları:</b> Sunucumuzda Abone SS Atıp Rol Al Kanalından JavaScript Rolü Almanız Gerek.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler (Altyapılar):</b> Sunucumuzda Abone SS Atıp Rol Al Kanalından Altyapılar Rolü Almanız Gerek.</li>
        </ul>
      </li>      
    </ul>
    <br>
    <h3 class="text-light font-weight-light">Kodlara Erişebilmek İçin Yapmanız Gerekneler:</h3>
    <hr>
    <ul>
      <li class="text-light font-weight-light"><a href="/davet" target="_blank">Discord Sunucumuza</a> katılmanız gerekmektedir.</li>
      <li class="text-light font-weight-light">Discord hesabınızla <a href="/giris" target="_blank">giriş yapmanız</a> gerekmektedir.</li>
      <li class="text-light font-weight-light">
        Kategorileri görmek için: 
        <ul>
          <li class="text-light font-weight-light"><b>BDFD Kodları:</b> Sunucumuzda BDFD Rolü Almanız Gerekli.</li>
          <li class="text-light font-weight-light"><b>Topluluk Kodları:</b> Herkese açık.</li>
          <li class="text-light font-weight-light"><b>Aoi.js Kodları:</b> Sunucumuzda Aoi.js Rolü Almanız Gerekli.</li>
          <li class="text-light font-weight-light"><b>JavaScript Kodları:</b> Sunucumuzda JavaScript Rolü Almanız Gerekli.</li>
          <li class="text-light font-weight-light"><b>Hazır Sistemler (Altyapılar):</b> Sunucumuzda Altyapılar Rolü Almanız Gerekli.</li>
        </ul>
      </li>
    </ul>
    <h3 class="text-danger">Önemli Not:</h3>
    <hr>
    <p class="text-light font-weight-light">
     Lütfen bir hata aldığınızda hata mesajını okuyun! Hata mesajını okumadan saçma sapan sorular sormayın! 
    </p>
  </div>
</main>